<header>
    <h1>BasicInfo#show</h1>
</header>

<div class="section">
    <%= link_to("<< Back to admin index", :controller => 'access') %>
    
    <%= link_to("Edit basic info", {:action => 'edit', :id => @info.id}) %>
    
    <table>
        <tr>
            <th>Header:</th>
            <td><%= @info.header %></td>
        </tr>
        <tr>
            <th>Hero:</th>
            <td><%= @info.hero %></td>
        </tr>
        <tr>
            <th>Caption:</th>
            <td><%= @info.caption %></td>
        </tr>
        <tr>
            <th>Quote:</th>
            <td><%= @info.quote %></td>
        </tr>
        <tr>
            <th>Story:</th>
            <td><%= @info.story %></td>
        </tr>
    </table>
</div>