<table>
    <tr>
        <th><%= f.label(:name) %></th>
        <td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <th><%= f.label(:link) %></th>
        <td><%= f.text_field(:link) %></td>
    </tr>
    <tr>
        <th><%= f.label(:image_url) %></th>
        <td><%= f.file_field(:image_url) %></td>
    </tr>
</table>