<header>
    <h1>Admin index</h1>
</header>

<div class="section">
    
    <p>Welcome <%= session[:name] %></p>
    <ul>
        <li><%= link_to('Edit Basic Info', {:controller => 'basic_info', :action => 'index'}) %></li>
        <li><%= link_to('Manage skills', :controller => 'skills') %></li>
        <li><%= link_to('Manage specific skills', :controller => 'specific_skills') %></li>
        <li><%= link_to('Manage badges', :controller => 'badges') %></li>
        <li><%= link_to('Manage projects', :controller => 'projects') %></li>
        <li><%= link_to('Logout', :action => 'logout') %></li>
    </ul>
    
    <%= link_to('View website', :controller => 'public') %>
    
</div>
