<span class="background"></span>

<header class="index">

	<%= link_to("Fabiano Paiva", {:action => 'index'}, :class => 'logo', :title => 'Fabiano Paiva') %>
	<div class="hero">
		<h2><%= @info.header %></h2>
		<p><%= @info.hero.html_safe %></p>
		<a class="show-btn" title="Show me" href="/#SelectedWork">Show me</a>
	</div>

</header>

<section id="AboutMe" class="about">

	<h1>About me</h1>
	<div>
		<aside class="picture">
		    <img alt="That's me!" src="/assets/fabiano.png">
		</aside>
		
		<aside class="caption">
			<p class="description"><%= @info.caption %></p>
			<blockquote>
				<p><%= @info.quote %></p>
			</blockquote>
		</aside>
		
		<article>
			<p><%= @info.story.html_safe %></p>
		</article>
	</div>
</section>

<hr>

<section class="skills">

	<h1>Skills</h1>

	<article>

		<div class="skills-flex-container">
			<div class="skills-graph-container"></div>
		</div>

	</article>

	<article>

		<div class="toolset-title">Toolset</div>
		<div class="toolset-subtitle">Click to zoom in and out</div>

		<div class="skills-flex-container">
			<div class="sunburst-container"></div>
		</div>
		<br />
		<div class="skills-flex-container">
			<div class="legend-container"></div>
		</div>

	</article>

</section>

<hr>

<section id="SelectedWork" class="work">

	<h1>Selected Work</h1>

	<% @projects.each do |project| %>
	
		<% if project.visibility %>
	
		<aside>
			<%= image_tag(project.thumbnail, :alt => project.title) %>
			<%= link_to(raw('<div class="trans"><p>' + project.caption + '</p></div>'), {:action => 'show', :id=> project.id}) %>
		</aside>
		
		<% end %>
	
	<% end %>

</section>