<header class="show">
	
	<%= link_to(raw("Fabiano Paiva"), {:action => 'index'}, :class => 'logo', :title => 'Fabiano Paiva') %>

</header>


<section class="project-details">
	
	<%= render(:partial => "proj_nav") %>
	
	<article>
		<h1><%= @project.title %></h1>
		<h2><%= @project.caption %></h2>
		<p class="abstract"><%= @project.abstract %></p>
		<aside>
			<div class="showroom">
				<%= image_tag(@project.image1, :alt => 'image1') %>
				<%= image_tag(@project.image2, :alt => 'image2') %>
				<span></span>
				<p class="story"><%= @project.text.html_safe %></p>
			</div>
		</aside>
		<p class="facts"><%= @project.facts %></p>
	</article>
	
	<% if !@project.video.blank? %>
		<div class="video">
			<iframe src="<%= @project.video.html_safe %>" frameborder="0" allowfullscreen></iframe>
		</div>
	<% end %>
	
	<%= render(:partial => "proj_nav") %>

</section>
