<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Hey, I'm Fabiano Paiva, a business designer with background in engineering and a strong entrepreneurial spirit, currently based in Helsinki. This is a selection of my work.">
		<meta name="author" content="Fabiano Paiva">
		<meta name="keywords" content="Fabiano Paiva, portfolio, design, projects, relevant work">
		<title>Fabiano Paiva</title>
		<%= stylesheet_link_tag('screen', :media => 'screen') %>
		<%= javascript_include_tag('application') %>
		<!--link rel="stylesheet" type="text/css" media="print" href="css/print.css"-->
	</head>

	<body>
		
		<div class="navigation">
			<nav>
				<ul>
					<li>
						<%= link_to('Contact', {:anchor => 'ContactAnchor'}) %>
					</li>
					<li>
						<%= link_to('Work', {:action => 'index', :anchor => 'SelectedWork'}) %>
					</li>
					<li>
						<%= link_to('About me', {:action => 'index', :anchor => 'AboutMe'}) %>
					</li>
				</ul>
			</nav>
		</div>

		<div id="page">
			
			<%= yield %>
			
		</div>

		<footer id="ContactAnchor">
		
			<div class="footer">
				<h4>Get in touch!</h4>
				<a class="e-mail" title="fabianopbrito@gmail.com" href="mailto:fabianopbrito@gmail.com">fabianopbrito@gmail.com</a></p>
				<aside>
					<a title="Twitter" href="https://twitter.com/fabianopaivab" target="_blank">
					    <%= image_tag('twitter.svg', :alt => 'Twitter') %>
					</a>
				</aside>
				<aside>
					<a title="LinkedIn" href="https://linkedin.com/in/fabianopb" target="_blank">
					    <%= image_tag('linkedin.svg', :alt => 'LinkedIn') %>
					</a>
				</aside>
				<aside>
					<a title="GitHub" href="https://github.com/Fabianopb" target="_blank">
					    <%= image_tag('github.svg', :alt => 'GitHub') %>
					</a>
				</aside>
				<p class="copyright">&copy; 2016 Fabiano Brito. Developed using <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.</p>
			</div>
		
		</footer>

			
		

	</body>

</html>